<div class = "row">
    <div class="col">
         
       <form 
       autocomplete="off"
       [formGroup]="myForm"
       (ngSubmit)="onSubmit()"
       > 
       

    <div class="mb-3 row">
   <label class="col-sm-3 col-form-label">Nombre</label>
   <div class="col-sm-9">
      <input
        type="text"
        class="form-control"
        placeholder="Nombre del usuario"
        formControlName="nombre"
     >@if (formutils.isValidField(myForm, 'nombre')){
        <span class="form-text text-danger">
            {{formutils.getFieldError(myForm,'nombre')}}
        </span>
     }

   </div>
 </div>

 <div class="mb-3 row">
  <label class="col-sm-3 col-form-label">Edad</label>
   <div class="col-sm-9">
     <input
       type="number"
       class="form-control"
       placeholder="Edad del usuario"
              formControlName="edad"
     >@if (formutils.isValidField(myForm, 'edad')){
        <span class="form-text text-danger">
            {{formutils.getFieldError(myForm,'edad')}}
        </span>
     }
   </div>
 </div>

 <div class="mb-3 row">
  <label class="col-sm-3 col-form-label">Correo</label>
  <div class="col-sm-9">
    <input
      type="email"
       class="form-control"
       placeholder="Correo electrónico"
       formControlName="correo"
     > @if (formutils.isValidField(myForm, 'correo')){
        <span class="form-text text-danger">
            {{formutils.getFieldError(myForm,'correo')}}
        </span>
     }
   </div>
 </div>
 <div class="row">
    <div class="col">
    <button
      type="submit"
      class="btn btn-primary float-end"
    >
      Guardar
    </button>
</div>
</div>
    </form> 
    </div>
</div>